$color: #00428D;
$green: #758E3D;
$white: white;
$yellow: yellow;
$black: black;

.dropdown-menu{
    display: none;
}
.nav-item:hover .dropdown-menu{
    display: block;
    margin-top: 3px;
}
#main-menu{
    li{
        cursor: pointer;
        a:hover{
            color:$white !important;
        }
    }
    .menu-item{
        a{
            color:$white
        }
    }
    li{
        border-bottom: 3px solid $color;
        width: 130px;
        padding-left:35px !important;
    }
    .nav-item{
        .dropdown-menu{
            width: 250px;
            .dropdown-item{
                border-top: 0.5px solid #A7A7A7;
                padding: 10px;
                font-size: 16px;
            }
            a:first-child{
                border:none;
            };
            a:hover{
                color: $black !important
            }
        }
    }
    .hotro{
        .dropdown-item{
            height: 57px;
            line-height: 35px;
        }
    }
}
.mobile-nav{
    .mobile-nav__item{

        p{
            img{
                width: 20px;
                margin: 0px 10px;
            }
        }

        h4{
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .icon_menu_mobile{
            padding-top: 2px;
        }

        .mobile-nav__link{
            padding-left: 15px;
        }
    }
}
.taovandon{
    padding: 10px 40px;
    background: #FDD800;
    color: black;
    border-radius: 5px;
    &:hover{
        color:$color;
    }
}
.dangnhap{
    background: $white;
    color: back;
    border-radius: 5px;
    &:hover{
        color:$color;
    }
}
.lienhe {
    height: 40px; 
    background: $white;
    font-size: 14px;
    line-height: 25px;

    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
    a:hover{
        color: $color;
    }
    ul {
        height: 50px;
        color: $black;
        position: relative;

        li{
            line-height: 40px;
            margin: 0px 30px;
            display:inline-block;
            vertical-align:middle;

            img{
                width: 18px;
                margin-right: 10px;
            }
            a, .time_work{
                font-weight: bold;
            }
        }

        li:last-child{
            position: absolute;
            right: 0px;
        }
    }
}
body{ font-size:17px; color: #3F3F3F;}
ul {list-style: none outside; margin:0; padding:0;}
.line-clamp{-webkit-box-orient: vertical;display: -webkit-box;overflow: hidden;}
.translate{transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;}
.translate:hover{ opacity:0.8;}
.Inter-Bold{font-family: 'Inter-Bold-slnt=0';}
.text-fff{ color:#fff}
.text-fff:hover,.text-FCD804{ color:#FDD800}/*màu vàng*/
.text-0E82FF{color: #0E82FF;}/*màu xanh*/
.text-0E82FF:hover{color: #3F3F3F;}
.text-FCD804:hover{ color:#fff;}
.bg-FCD804,.bg-fff:hover,.item-service.active{background: #FDD800;}
.bg-FCD804:hover{background: #FDD800 !important; color: #fff !important;}
.font-size-14{ font-size:14px;}
.font-size-16{ font-size:16px;}
.font-size-20{ font-size:20px;}
.font-size-24{ font-size:24px; line-height: 24px;}
.wp-header{ background-color:$color;}
.kqtd{border-radius: 4px;background:rgba(255, 255, 255, 0.1) url(../../images/icon-ketqua.png) no-repeat 10px center; padding:12px 12px 12px 40px;}
.kqtd:hover{ border-color:#FDD800 !important;}
/*menu pc*/
.main-navigation {
    display:block;
    width:100%;-webkit-transition: 0.5s all ease-in-out 0.5s;
    -moz-transition: 0.5s all ease-in-out 0.5s;
    -ms-transition: 0.5s all ease-in-out 0.5s;
    -o-transition: 0.5s all ease-in-out 0.5s;
    transition: 0.5s all ease-in-out 0.5s;
}
.main-navigation ul {
    margin:0;
    padding-left:0;
    list-style:none
}
.main-navigation .menu {
    display:none
}
.main-navigation li { position:relative;
    text-align:left;
}
@media (min-width: 768px) and (max-width: 1024px){
    #main-menu{
        li{
            width: unset;
            padding-left: 25px !important;
        }
    }
    .main-navigation li {margin-right:10px;}
    .lag li:first-child{ margin-right: 0.5rem!important; }
    .lag li{font-size: 15px;}
}
@media screen and (min-width:1025px){
    .main-navigation li {padding:0px 10px;}
}
.main-navigation a {
    display:block;
    text-decoration:none;
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li:hover>ul,
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li.menu-hover>ul {
    opacity: 1;
    z-index: 3;
    top: 100%;
    visibility: visible;
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li:hover>ul,
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li.menu-hover>ul {
    left:calc(100% + 1px)
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li:hover>ul.inverse-side,
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li.menu-hover>ul.inverse-side {
    left:auto;
    right:calc(100% + 1px)
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li>ul {
    top:0px !important;
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li>ul.sub-menu-bottom {
    top:auto; bottom:0;
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li>ul.in-transition {
    left:calc(100% + 1px)
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li>ul.inverse-side.in-transition {
    left:auto;
    right:calc(100% + 1px)
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li[hidden] {
    display:none
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li:hover>ul,
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li.menu-hover>ul {
    left:0px
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li:hover>ul.inverse-side,
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li.menu-hover>ul.inverse-side {
    left:auto;
    right:-10px
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li>ul {
    top:100%
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li>ul.in-transition {
    left:0px
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li>ul.in-transition.inverse-side {
    left:auto;
    right:-10px
}
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) .sub-menu {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0px;
    width: 213px;
    padding:5px 0 0 0;margin-top: 6px;
    background-color:#2F302F;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    top: 150%;

}
.main-navigation:not(.vertical-menu) .menu {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    position:relative
}
.main-navigation:not(.vertical-menu) .menu>li {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    /*border-bottom: solid 2px #1F1F1F;*/
}
.main-navigation:not(.vertical-menu) .menu .sub-menu {
    margin:0;
    -webkit-box-shadow:0 2px 12px rgba(136,
        136,
        136,
        .26);
    box-shadow:0 2px 12px rgba(136,
        136,
        136,
        .26)
}
.main-navigation:not(.vertical-menu) .menu>li[hidden] {
    display:none
}

.main-navigation a {
    padding:20px 0px 20px 0;
    font-size:18px;
}
.main-navigation .menu>li.menu-item-has-children:not(.super-guacamole__menu-with-icon)>a {
    padding-right:5px
}
/*.main-navigation .menu>li.menu-item-has-children:not(.super-guacamole__menu-with-icon)>a::after {
    content: "\e904";
    right:0; color:#FDD800; font-size:8px;
    top:32%;font-family: 'icomoon' !important; margin-left:6px;

}*/
.main-navigation .sub-menu {
    padding:0px 0
}
.main-navigation .sub-menu>li{ margin:0; padding:0 10px; }
.main-navigation .sub-menu>li a{ padding:0 0 10px 0; margin-bottom:5px; line-height:22px; font-size:16px;border-bottom:1px solid #FDD800;}
.main-navigation .sub-menu>li:last-child a{ border-bottom:none; margin-bottom:0;}

#site-navigation.main-navigation.vertical-menu {
    background-color: #000000;
}
#site-navigation.main-navigation.vertical-menu ul.menu li a {
    font-style: normal;
    font-size: 12px;
    line-height: 2;
}
#site-navigation.main-navigation.vertical-menu .menu > li > a,
#site-navigation.main-navigation.vertical-menu ul ul a,
.main-navigation-buttons .navigation-button,
.invert .main-navigation > .menu > li > a,
.main-navigation ul ul a,
.site-header .invert .contact-block__label
{
    color: var(--white);
}
#site-navigation.main-navigation.vertical-menu .menu > li > a:hover,
#site-navigation.main-navigation.vertical-menu ul ul a:hover,
#site-navigation.main-navigation.vertical-menu ul li.current-menu-item > a,
.main-navigation-buttons .navigation-button:hover,
.invert .main-navigation > .menu > li > a:hover {
    color: var(--white);
}
/* #Main Menu */
.main-navigation .menu > li > a,
.invert .main-navigation.vertical-menu .menu > li > a,
.invert .main-navigation .menu.isStuck > li > a {
    color:$white;
}
.main-navigation .menu > li:hover,.main-navigation .menu > li.active>a,.main-navigation .menu > li > a:hover
{
    color:#FDD800;
}
.main-navigation .menu > li.active>a{
    font-family: 'Inter-Bold-slnt=0';
}

.main-navigation .sub-menu > li:hover  > a,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a ,
.main-navigation .sub-menu>li .sub-cat a:hover{
    color:#FDD800;
}
/*.main-navigation .menu > li:hover,.main-navigation .menu > li.active{border-bottom: solid 1px #FDD800;}*/
.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu)>li:hover{border-bottom: solid 3px #FDD800 !important;background: rgba(255, 255, 255, 0.3); }
/*end menu pc*/
/*menu mobile*/
.mobile-nav { padding:0 13px;}
.mobile-nav li {
    margin-bottom: 0; }
.mobile-nav ul.super {
    list-style: none; }
.mobile-nav h3, .mobile-nav .h3 { 
    margin-bottom: 0;
    text-transform: unset; 
}

.mobile-nav__search {
    padding: 15px; }
.mobile-nav__search .search-bar {
    margin-bottom: 0; }

.mobile-nav__item {
    position: relative;
    display: block; }
.mobile-nav__item ul li:after {
    bottom: 0;
    content: "";
    left:0;
    position: absolute;
    right:0;
    width:100%; }
.mobile-nav__item ul a {
    padding: 10px 0px; }
.mobile-nav > .mobile-nav__item {
    background-color: #fff; }
/* .mobile-nav__item:after {
   content: '';
   position: absolute;
   bottom: 0;
   left:0px;
   right:0px;
   border-bottom: 1px solid #FDD800; }*/
.mobile-nav > .mobile-nav__item:last-child:after {
    display: none; }

.mobile-nav__item a {
    display: block; }

.mobile-nav__item a,
.mobile-nav__toggle button {
    color: #333;
    padding: 2px;
    text-decoration: none; }
.mobile-nav__toggle button{background: none;
    border: none;
    cursor: pointer;
    outline: none; font-size:10px;}
.mobile-nav__item a:hover, .mobile-nav__item a:active, .mobile-nav__item a:focus,
.mobile-nav__toggle button:hover,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    color: #0d0d0d; }
.mobile-nav__item a:active, .mobile-nav__item a:focus,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    background-color: #f2f2f2; }

.mobile-nav__has-sublist {
    display: table;
    width: 100%;border-bottom: 1px solid #FDD800;}
.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;}
.mobile-nav__border{border-bottom: 1px solid #FDD800;}
.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%; }

.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none; }

.mobile-nav__toggle-close {
    display: none; }
.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block; }

.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.mobile-nav__sublist img {
    margin-bottom: 15px; }
.mobile-nav--expanded + .mobile-nav__sublist {
    visibility: visible;
    max-height: inherit;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto; }
.mobile-nav__sublist .mobile-nav__link { padding:6px 10px;
    font-family: 'UTM Neo Sans Intel'; }
.icon-menu {
    font-size: 15px;
    padding: 5px 15px; background-color:transparent;
}
.visually-hidden,.icon-fallback-text .fallback-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
/*============================================================================
#Drawers
==============================================================================*/
.js-drawer-open {
    overflow: hidden;
    height: 100%; }
.js-drawer-open #PageContainer:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999; }

.drawer {
    -webkit-transform: translateZ(0);
    will-change: transform;
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 0 15px;
    max-width: 95%;
    z-index: 10;
    color:#2F302F;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1); }
.drawer a {
    color:#2F302F; font-size:16px; padding-left:0; padding-right:0;}
.drawer a:hover, .drawer a:focus {
    opacity: 0.7; }

.drawer--left {
    width: 300px;
    left: -300px; }
.js-drawer-open-left .drawer--left {
    display: block;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }
.lt-ie9 .js-drawer-open-left .drawer--left {
    left: 0; }

.drawer--right {
    width: 300px;
    right: -300px;
    border-left: 1px solid #f2f2f2; }
.js-drawer-open-right .drawer--right {
    display: block;
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }
.lt-ie9 .js-drawer-open-right .drawer--right {
    right: 0; }
.drawer--is-loading:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999; }

.is-moved-by-drawer {
    /* @include promote-layer(); */
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1); }
.js-drawer-open-left .is-moved-by-drawer {
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }
.js-drawer-open-right .is-moved-by-drawer {
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }

.drawer__header {
    display: table;
    height: 45px;
    width: 100%; padding:5px 15px; 
    background-color:white;
}

.drawer__title,
.drawer__close {
    display: table-cell;
    vertical-align: middle; }

.drawer__title {
    width: 100%;}
.drawer__title img{ max-height:45px;}

.drawer__close {
    width: 1%;
    text-align: center;
    font-size: 1.28571em; }

.drawer__close button {
    position: relative;
    right: -20px;
    height: 100%;
    padding: 0 20px;
    color:var(--white); }
.drawer__close button:active, .drawer__close button:focus {
    background-color: #f2f2f2; }

.icon-fallback-text .icon {
    display: inline-block;
}
.lag-mb a{display:inline-block; line-height:20px; position:relative; padding:0;}
.lag-mb a:first-child:after{ content:'';border: 1px solid #feeb7d;
    position: absolute;
    right:-2px;
    top: 3.5px;
    height: 16px;}
/*end menu mobile*/

/*Smart phone nhỏ*/
@media screen and (min-width: 240px){
    .font-size-60{ font-size:36px;}
    .font-size-80{ font-size:50px;}
    .font-size-18{ font-size:14px;}
    /*.wp-slide{ margin-top:-30%;}*/
    /*.search .form-control{height: calc(2.5rem + 2px);}
    .search button{ height:42px;}
    .tukhoa{border: 1px solid #E5E5E5 !important;}*/
    .text-dark-min{ color:var(--dark); font-size:12px;}
    .text-slide{ font-size:18px;}
}
/*Iphone(736 x 414)*/
@media screen and (min-width: 736px){
    .font-size-18{ font-size:18px;}
    /*.search .form-control{height: calc(3rem + 2px);}
    .search button{ height:50px;}*/
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px){
    .text-slide{ font-size:24px;}
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
    //.wp-slide{ position:absolute; height:100%;margin-top:0;}
}
@media (min-width: 1024px) and (max-width:1026px) {
    .item-slide{ padding-top: 1.5rem!important; padding-bottom: 1rem!important;}
    /* .search .form-control{height: calc(2rem + 2px);}
    .search button{ height:34px;}*/
}
@media (max-width:414px){
    .col-6{-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
}
@media (min-width: 1024px){
    #main-menu{

    }
}

