$font-family-base: 'San Francisco Display', sans-serif;
$font-size-base: 1rem;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 769px,
    lg: 992px,
    xl: 1200px
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
) !default;
$h1-font-size: 24px;
$h2-font-size: 18px;
$headings-line-height: 1.4;
$headings-font-weight: bold;
$link-hover-decoration: none;
$primary: #2F302F;
$secondary: #FCD804;
$info: #0E82FF;
$gray: #444;
$breadcrumb-bg: #fff;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-divider-color: #000;
$navbar-padding-x: 0;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;
$navbar-brand-padding-x: 0;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-dark-color: #fff;
$navbar-dark-active-color: #FCD804;
$navbar-dark-hover-color: #FCD804;
