@import url('https://fonts.googleapis.com/css?family=Numans');
@import "../layout/variables";


.section-register{
    background:  linear-gradient(0deg, rgba(47, 48, 47, 0.56), rgba(47, 48, 47, 0.56)), url('../images/Frame 28.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 70px;

    .container{
        height: 100%;
        align-content: center;
        .title-login {
            color: $white !important;
            font-weight: 600;
            font-size: 48px;
            line-height: 57px;
        }
    }
    .card{
        display: block;
        margin-top: 4%;
        margin-bottom: auto;
        padding: 20px;
        width: 297px;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
        border-radius: 7px;

        #show_hide_password {
            .password-field {
                background-image: none !important;
            }
            .input-group-addon {
                height: 38px !important;
                img {
                    width: 20px !important;
                    position: absolute;
                    left: 230px;
                    top: 10px;
                    z-index: 999;
                }
            }
        }
        #confirm_password {
            background-image: none !important;

        }

        .show_hide_password {
            .input-group-addon {
                height: 38px !important;
                img {
                    width: 20px !important;
                    position: absolute;
                    left: 230px;
                    top: 10px;
                    z-index: 999;
                }
            }
        }

        input {
            border-radius: 5px;
            box-sizing: border-box;
            color: $black !important;
            font-size: 12px;
            line-height: 14px;
            height: 41px;

        }
        input:focus{
            box-shadow: 0 0 0 0 !important;
            border: 1px solid $primary_color;
        }
        .title-form {
            color: $black;
            font-size: 14px;
            line-height: 16.41px;
        }
        .content-rule {
            font-size: 12px;
            font-family: Roboto;
            color: $gray;;
        }
        .register_btn{
            font-size: 16px;
            line-height: 19px;
            background-color: $yellow;
            width: 100%;
        }
        .re_login_btn{
            background-color: $primary_color;
            font-size: 16px !important;
            width: 100%;
        }
        .re_login_btn:hover {
            border: 1px solid $primary_color !important;
            color: black !important;
            background-color: $white !important;
        }
        .register_btn:hover {
            border: 1px solid $primary_color !important;
            color: black !important;
            background-color: $white !important;
        }
    }
}


@media screen and (max-width: 576px) {
    .section-register {
        background: #E5E5E5;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 0 !important;
        .container {
            padding-left: 0 !important;
            padding-right: 0 !important;
            .title-login {
                color: black !important;
            }
            .car-register {
                width: 100%;
                margin-top: 0 !important;
                border-radius: 0 !important;
                #show_hide_password {
                    .input-group-addon {
                        img {
                            left: 92%;
                        }
                    }
                }
                .show_hide_password {
                    .input-group-addon {
                        img {
                            left: 92%;
                        }
                    }
                }
                .align-items-center {
                    .title-form {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }

}





